#div1{
    display:none;
    width:100%;
    height:100%;
    border:solid 1px #000080;
    background-image: linear-gradient(to right, #ffba95, #fded5a);
    /*font-family:'MS Serif', 'New York', serif;*/
    font-size: 20px;
    color:#2A0000;position:relative;
}

#ChangeInfor{
    margin-left: 20px;
}

/*xx-large*/
#titleP{
    font-family:'MS Serif', 'New York', serif;
    font-size: xx-large;
    font-weight: 1000;
}

.getJuli{
    margin-left: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #a8a8a8;
    background-color:transparent;
}

.getJuli:active{
    border-style: solid;
    border-width: 4px;
    border-color: #606060;
}

#userDataV{
    margin-left: 75px;
    border-style: solid;
    border-width: 2px;
    border-color: #a8a8a8;
    height: 30px;
    width: 250px;
}

#userDataV:hover{
    margin-left: 20px;
    /*border-radius: 30px;*/
}

#userDataV:active{
    border-style: solid;
    border-width: 4px;
    border-color: #f55e5e;
}

#emailDataV{
    border-style: solid;
    border-width: 2px;
    border-color: #a8a8a8;
    height: 30px;
    width: 250px;
}

#emailDataV:hover{
    margin-left: 20px;
    /*border-radius: 30px;*/
}

#emailDataV:active{
    border-style: solid;
    border-width: 4px;
    border-color: #f55e5e;
}

#classSelect{
    font-size: 15px;
    font-weight: 1000;
    height: 35px;
}

#DestinationSelect{
    font-size: 15px;
    font-weight: 1000;
    height: 35px;
}

#bDate{
    height: 35px;
    text-align: center;
}

#colorCenter{
    text-align: center;
    color: #c898f5;
}

#btnSave{
    margin-left: 40%;
    width: 90px;
    font-weight: 1000;
}

#btnCancel{
    margin-left: 10%;
    width: 90px;
    font-weight: 1000;
}

/*数据更改成功*/

.SaveDataShowText{
    display: none;
    position: absolute;
    text-align: center;
    margin-left: 70%;
    transform: translateY(-270px);
    font-weight: 1000;
    font-family: 'Reggae One', CenturyGothic, "AppleGothic", sans-serif;
    font-size: 30px;
    /*padding: 80px 50px;*/
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
.SaveDataShowText p{
    color: #e0dfdc;
    /*   background-color: #333; */
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #ffffff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.p1Show{
    display: none;
}
.p2Show{
    display: none;
}
.p3Show{
    display: none;
}
